@{
    ViewBag.Title = "Index";
}
<h2>Calculadora Teste V1.3</h2>
<form action="/Home/Index" method="post">
  Valor 1: <input type="text" name="valor1"><br>
  Valor 2: <input type="text" name="valor2"><br>
  <input type="submit" value="Submit">
</form>
@ViewBag.Mensagem